pyrogram
tgcrypto
motor
pymongo[srv]
asyncio
gpytranslate
requests
telegraph
wget
SafoneAPI
youtube_search
yt_dlp
ffmpeg-python
play_scraper
beautifulsoup4
Pillow
pytz
pytube
youtube_dl
youtube-search-python
FFmpeg
aiofiles
aiohttp
httpx
httpx[http2]
